body.light-mode {
    margin: 0;
      padding: 0;
      background: #000000 !important;
      font-family: sans-serif;
}

/* Dark Mode */
button {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
/* chat */
.shadow-2xl {
  background-color: #1a1a2e !important;
  z-index: 999 !important;
}
.shadow-2xl input{
  background: #29293d;
  color: white;
  border: none;
  border-radius: 5px;
  border: none !important;
  outline: none !important;
}
.shadow-2xl #chat{
  background: #29293d !important;
  border: 2px solid #1a1a2e !important;
  outline: none !important;
  color: white !important;
}



/* login imgs  */
.logo-slider {
  width: 100%;
  background-color: rgb(255, 255, 255) !important;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px 0;
}

.logo-slider-track {
  display: flex; 
  animation: scroll 20s linear infinite;
}

.logo-slider img {
  height: 40px;
  margin: 0; 
  vertical-align: middle;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.logo-slider img {
  height: 30px;
  margin: 0 40px !important; /* إزالة المسافة بين الصور */
  vertical-align: middle;
  font-size: 50px !important;
}

